.home__footer {
  background-color: var(--color-blanco);
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  margin: 40px 0px 20px 0px;
  padding: 30px 30px;
}

.home__footer i {
  font-size: 2.2rem;
  color: var(--color-celeste);
  margin-bottom: 10px;
}

.home__footer__article {
  padding: 30px 0px 30px 0px;
  transition: all 0.7s;
}
.home__footer__article i:hover {
  color: var(--color-verde);
}

.home__footer__article h4 {
  color: var(--color-gris-oscuro);
}

.home__footer__article p {
  color: var(--color-gris-oscuro);
}

.home__footer__copy {
  text-align: start;
}

@media (min-width: 1024px) {
  .home__footer {
    background-color: var(--color-blanco);
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-around;
    flex-direction: row;
    margin: 40px 0px 20px 0px;
    padding: 30px 30px;
    gap: 30px;
  }
  .home__footer__article {
    width: 22%;
    padding: 30px 0px 30px 0px;
    transition: all 0.7s;
  }

  .home__footer__copy {
    text-align: start;
    width: 100%;
  }
}
