.main{
    display: flex;
    width: 100%;
    background-color: var(--color-blanco);
   border: 1px var(--color-gris-oscuro);
}

.form__label__register {
    display: flex;
    justify-content: center;
    font-size: 12px;
    flex-direction: column;
    align-items: flex-start;
    align-items: center;
    width: 90%;
    gap: 18px;
    
  }

  .form__label__register input {
    max-width: 500px;
    width: 100%;
    padding: 8px;
    border: 1px double var(--color-azul-claro);
    border-radius: 5px;
    border-color:var(--color-azul);
    outline: 0 none;
   /*  box-shadow: 1px 1px 1px 1px var(--color-celeste); */
  
  }


.register__form__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 20px;
}

.form__date {
  padding: 20px;
}

.form__intereses {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.form__intereses__radio {
  align-items: center;
  display: flex;
  gap: 15px;
}

.form__checkbox {
  align-items:flex-end;
  justify-content: space-between;
  display: flex;
  gap: 20px;
  flex-direction: row;
  width: 100%
 
}

.form__intereses__radio {
  
  display: flex;
  gap: 15px;
}

.form__intereses__checkbox {
  display: flex;
 justify-content: space-between;
  flex-direction: column    ;
  gap: 20px;
  
}
.form__intereses__checkbox label {

   
}

.form__intereses__checkbox input{
    text-align: left !important;
     width: 50%  !important; 
     margin: auto  !important;
    
}


.form__label__register button {
    max-width: 500px;
  background-color: var(--color-celeste);
  width:100%;
  padding: 10px;
  border: 0;
  border-radius: 5px;
  letter-spacing: 2px;
  font-weight: 900;
  text-transform: uppercase;
  color: var( --color-blanco);
}
